<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.platform.api.sign.dao.ApiSignDAO">
	
	<insert id="insertUserInfo" parameterType="Map">
		INSERT INTO admins (
			admin_id,
			admin_password,
			authority_level,
			admin_name,
			admin_email,
			admin_mobile,
			reg_date
		) VALUES (
			#{id},
			#{enc_password},
			#{authority_level},
			#{name},
			#{email},
			#{mobile},
			NOW()
		)	
	</insert>
	
	<select id="selectUserInfoById" parameterType="Map" resultType="Map">
		SELECT
			reg_no AS admin_regno,
			admin_id,
			admin_password,
			authority_level
		FROM
			admins
		WHERE
			admin_id = #{id}
	</select>

	
</mapper>