<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.platform.api.sign.dao.ApiSignDAO">
	
	<insert id="insertUserInfo" parameterType="Map">
		INSERT INTO members (
			member_id, member_password, authority_level, member_name,
			member_email, member_mobile, reg_date
		) VALUES (
			#{id}, #{enc_password}, #{authority_level}, #{name},
			#{email}, #{mobile}, NOW()
		)	
	</insert>
	
	<select id="selectUserInfoById" parameterType="Map" resultType="Map">
		SELECT
			reg_no AS member_regno,
			member_id,
			member_password,
			authority_level,
			member_name,
			member_email,
			member_mobile,
			DATE_FORMAT(last_login_dt, '%Y.%m.%d %H:%i:%s') AS last_login_dt
		FROM
			members
		WHERE
			member_id = #{id}
			AND is_deleted != 'Y'
	</select>

	
</mapper>