<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.platform.api.sign.dao.ApiSignDAO">
	
	<select id="selectUserInfoById" 
		parameterType="kr.co.platform.api.sign.dto.Member" 
		resultType="kr.co.platform.api.sign.dto.Member">
		SELECT
			reg_no,
			member_id,
			member_password,
			authority_level,
			member_name,
			member_email,
			member_mobile,
			DATE_FORMAT(reg_date, "%Y.%m.%d %H:%i:%s") AS reg_date
		FROM
			members
		WHERE
			member_id = #{memberId}
			AND is_deleted != 'Y'
	</select>
	
	<insert id="insertUserInfo" parameterType="kr.co.platform.api.sign.dto.Member">
		INSERT INTO members (
			member_id, member_password, authority_level, member_name,
			member_email, member_mobile, reg_date
		) VALUES (
			#{id}, #{enc_password}, #{authority_level}, #{name},
			#{email}, #{mobile}, NOW()
		)	
	</insert>
		
</mapper>